<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form method="post" action="/login">
        <h1>Login Page Page</h1>
          <input name="username" type="text" placeholder="enter a Username"><br>
          <input name="password" type="number" placeholder="enter a Password"><br>
          <button type="submit">submit</button>
     </form>
</body>
</html>